@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
	height: 100%;
	background: #fff;
	font-family: Microsoft JhengHei;
	margin: 0;
	font-size: 14pt;
  }

.row {
	width:auto;
	margin:0 auto;
	font-size: 14pt;
}

.row table{
	width: 1050px;
	border: none;
}
.row tr td{
	line-height: 20pt;
	font-weight: 700;
	border: none;
}
.row a {
	color: rgba(0, 96, 139);
	text-decoration: none;
}
.row a:hover{
	color: #333;
}

/* 首頁-最新消息 */
.news{
	width: 160pt;
	margin-right: 20pt;
	display: inline-block;
	line-height: 30pt;
	text-align: left;
	font-size: 15pt;
}
.news a{
	color: #000;
}
.news:hover{
	font-weight: 700;
	border-bottom:3pt rgba(0, 96, 139) solid;
}

/* 首頁-更多消息 */
.news-btn{
	width: 120pt;
	height: 30pt;
	font-weight: 700;
	font-size: 12pt;
	border-radius:40px;
	border: none;
	background-color: rgba(220, 229, 244);
}
.news-btn a{
	color: rgba(110,151,207);
	text-decoration: none;
}
.news-btn a:hover{
	color: #333;
}

/* 訂製標題 */
.custom-title{
	width: 100pt;
	height: 30pt;
	border-radius:40px;
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-align: center;
	line-height: 30pt;
	font-weight: 700;
	color: rgba(110,151,207);
	background-color: rgba(220, 229, 244);
}

h1, h2, h3, h4{
	color: rgba(0, 96, 139);
}

li, ol{
	line-height: 30pt;
}

.row .article{
	line-height: 25pt;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
}

.row .link{
	width: 130pt;
	height: 35pt;
	line-height: 15pt;
	text-align: center;
	font-weight: 700;
	font-size: 14pt;
	border: 1p #fff solid;
	box-shadow:6px 6px 16px #cccccc;
	margin-bottom: 30px;
	box-shadow: 5px 5px 11px 0px #cccccc;
	background:linear-gradient(to bottom, #e0e8f5 5%, #c1d1eb 100%);
	background-color:#e0e8f5;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:rgba(110,151,207);
	padding:12px 37px;
	text-decoration:none;
}
.row .link:hover {
	background:linear-gradient(to bottom, #c1d1eb 5%, #e0e8f5 100%);
	background-color:#c1d1eb;
	color: #477AC2;
}
.row .link:active {
	position:relative;
	top:1px;
}

.row .link2{
	width: 130pt;
	height: 35pt;
	line-height: 15pt;
	text-align: center;
	font-weight: 700;
	font-size: 14pt;
	border: 1p #fff solid;
	box-shadow:6px 6px 16px #cccccc;
	margin-bottom: 30px;
	box-shadow: 5px 5px 11px 0px #cccccc;
	background:linear-gradient(to bottom, #fccdcd 5%, #FFC2B8 100%);
	background-color:#fccdcd;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#FF595F;
	padding:12px 37px;
	text-decoration:none;
}
.row .link2:hover {
	background:linear-gradient(to bottom, #FFC2B8 5%, #fccdcd 100%);
	background-color:#FFC2B8;
	color: #ED5358;
}
.row .link2:active {
	position:relative;
	top:1px;
}

/* 網頁標題 */
.row .custom-page-title{
	margin-top: 25pt;
	margin-bottom: 25pt;
}

table.style2{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	text-align: center;
	line-height: 30pt;
	margin-left: 20pt;
	margin-bottom: 30pt;
}

table.style2 th{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	background-color: rgba(220, 229, 244);
	color: rgba(0, 96, 139);
	font-size: 16pt;
}

table.style2 tr td{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	font-weight: 500;
	line-height: 30pt;
}

table.style3{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	text-align: center;
	line-height: 25pt;
	margin-bottom: 30pt;
	vertical-align: middle;
}

table.style3 th{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	background-color: rgba(220, 229, 244);
	font-weight: 500;
}

table.style3 tr td{
	border: 1px rgba(110,151,207) solid;
	border-collapse: collapse;
	font-weight: 500;
}

.strike{
	color:red;
	text-decoration:line-through
}

/* 頁腳 */
.footer{
	margin-top: 15pt;
	background-color: rgba(0, 96, 139);
	color: #ffffff;
	font-size: 14pt;
	text-align: center;
	line-height: 22pt;
}

/* 倒數計時器 */
.count{
	font-family: 'Cursed Timer ULiL', sans-serif;
	font-size: 2.5em;
	color: #fff;
	letter-spacing: 4.5px;
	padding-right: 1.8%;
	float: right;
}

@media (min-width: 500px) and (max-width: 644px) {
	.count {
		font-size: 0.6em;
	}
}

@media (min-width: 645px) and (max-width: 767px) {
	.count {
		font-size: 0.7em;
	}
}

@media (min-width: 768px) and (max-width: 899px) {
	.count {
		font-size: 1.1em;
	}
}

@media (min-width: 900px) and (max-width: 991px) {
	.count {
		font-size: 1.2em;
	}
}

@media (min-width: 992px) and (max-width: 1099px) {
	.count {
		font-size: 1.6em;
	}
}

@media (min-width: 1100px) and (max-width: 1199px) {
	.count {
		font-size: 1.8em;
	}
}

@media (min-width: 1200px) and (max-width: 1280px) {
	.count {
		font-size: 2em;
		letter-spacing: 3.8px;
		padding-right: 1.9%;
	}
}

@media (min-width: 1281px) and (max-width: 1400px) {
	.count {
		font-size: 2.1em;
		letter-spacing: 4px;
	}
}